

#computer-choice {
    cursor : pointer;
}

#user-choice {
    width: 95%;
    height: 10%;
    border: 0px solid #c3c3c3;
    display: -webkit-flex;
    display: none;
    position: absolute;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-items: center;
    justify-content: center;
    top: 70;
    left: 0;
    /* align-self: center; */
}

.user-choice-button {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 80%;
    background-color: #2f2c2c;
    font-weight: bold;
    color: ghostwhite;
    font-size: 14px
}

/*
.user-choice-button : hover {
    color: grey;
}*/

#choice-shuffler {
    width: auto;
    height: 75%;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: #ECF0F1;
    background-color: #B03A2E;
    font-family: "Lucida Sans Unicode", "Lucida Grande" ,sans-serif;
}

#score {
	width: 95%;
	height : 10%;
	display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-items: center;
    justify-content: center;

}

.score-user{
    display: flex;
    justify-content: center;
    height: 80%;
    font-size: 36px;
    border: 1px solid grey;
    align-items: center;
    width: 49%;
}

#container {
	height : 100%;
	background-color: #EAFAF1;
}

